@inherits LayoutComponentBase

<div class="row">
    <div class="col-sm-6 col-md-6">
        <img src="/images/BlazorIcon.png" width="400" height="500" />
    </div>
    <div class="col-sm-6 col-md-6 mt-4">
        @base.Body
    </div>
</div>